:root {
	--adfc-blue:			#004b7c;
	--adfc-orange:			#ee7f00;
	--adfc-green:			#00793a;
	--radio-color:			hsl(25, 91%, 50%);
}

*:focus-visible {
	outline:				solid .125rem var(--adfc-orange);
}

input[type="submit"],
button,
a.button {
	background-color:		#5a5a5a;
	border:					none;
}

input[type="submit"]:hover,
button:hover,
a.button:hover {
	background-color:		#5a5a5a;
	text-decoration:		underline;
}

input[type="submit"]:active,
button:active,
a.button:active {
	background-color:		#5a5a5a;
	box-shadow:				none;
}

.login-ui input[type="submit"],
.notification:not(.error) button,
.notification:not(.error) a.button {
	background-color:		var(--adfc-orange) !important;
}

input[type="checkbox"],
input[type="radio"] {
	accent-color:			var(--radio-color);
}

select,
input[type="time"], input[type="date"], input[type="text"],
input[type="password"], input[type="datetime-local"], input[type="email"],
input[type="week"],input[type="month"], input[type="number"],
input[type="search"], input[type="tel"], input[type="url"] {
	background-color:		white;
	border:					1px solid rgba(0, 0, 0, 0.25);
	-moz-border-radius:		0;
	-webkit-border-radius:	0;
	-khtml-border-radius:	0;
	border-radius:			0;
}

.login-ui .login-dialog .logo {
	width:					9em;
	height:					3em;
	background-image:		url('app/ext/branding-adfc-hh/images/logo.png');
	background-repeat:		no-repeat;
	background-position:	center;
	background-size:		contain;
	-moz-background-size:	contain;
	-webkit-background-size:contain;
	-khtml-background-size:	contain;
}

.login-ui .login-dialog .version .app-name {
	line-height:			1.75rem;
}

.login-ui .login-dialog .version .welcome {
	font-weight:			700;
	text-transform:			none;
	text-align:				center;
	font-size:				0.75em;
}

div.login-ui,
.logged-out-modal guac-modal {
	background:				var(--adfc-blue);
	background-color:		var(--adfc-blue);
}

.login-ui .login-dialog {
	background-color:		white;
}

.login-ui .login-dialog .login-fields input {
	-moz-border-radius:		0;
	-webkit-border-radius:	0;
	-khtml-border-radius:	0;
	border-radius:			0;
}

.login-ui .login-dialog .version .version-number {
	background-color:		var(--adfc-green);
	-moz-border-radius:		0;
	-webkit-border-radius:	0;
	-khtml-border-radius:	0;
	border-radius:			0;
	opacity:				1;
}

.header,
.attributes .form h3 {
	background-color:	var(--adfc-blue);
	color:					white;
}

.header h2 {
	margin:					auto;
}

.header .filter input {
	background-color:		white;
	border-left:			none;
}

.list-item.selected {
	background:				var(--adfc-orange);
}

.user-menu .menu-dropdown .menu-title {
	background-image:		url('app/ext/branding-adfc-hh/images/bicycle.png');
}

table.sorted {
	border:					solid 1px var(--adfc-orange);
}

table.sorted thead {
	background-color:		var(--adfc-orange);
}

table.sorted th,
table.sorted td {
	border:					none;
	background:				none;
}

table.sorted th.sort-primary::after,
.menu-dropdown .menu-indicator {
	filter:					invert(1);
}

table.sorted ~ .placeholder {
	margin:					0;
	padding:				.6em 1em .4em;
	border:					solid 1px var(--adfc-orange);
	border-top:				none;
	font-size:				1em;
	line-height:			100%;
}

.list-item:not(.selected) .caption:hover,
.recent-connections .connection:hover,
table.sorted tbody tr:hover {
	background-color:		rgb(from var(--adfc-orange) r g b / 0.5);
}

.menu-dropdown .menu-contents li a:hover,
.page-tabs .page-list li a[href]:hover,
.section-tabs li a:hover {
	background-color:		rgb(from var(--adfc-blue) r g b / 0.5);
}
